<div class="cm-ancor ancor-container container">

    <div class="align-items-start flex-column">
        <div data-sly-test="${properties.topTitle}" class="pretitle">${properties.topTitle}</div>
        <div data-sly-test="${properties.mainTitle}" class="title green-txt">${properties.mainTitle}</div>
        <div data-sly-test="${properties.subTitle}" class="subtitle">${properties.subTitle}</div>
    </div>

    <div class="row ancor-main-content">
        <div class="col-ancor"  data-sly-test="${properties.number == '1' || properties.number == '2' || properties.number == '3' || properties.number == '4' || properties.number == '5' }" data-sly-resource="${'tile1' @ resourceType='joinon/components/content/tile'}">
        </div>
        <div class="col-ancor" data-sly-test="${properties.number == '2' || properties.number == '3' || properties.number == '4' || properties.number == '5' }"  data-sly-resource="${'tile2' @ resourceType='joinon/components/content/tile'}">
        </div>
        <div class="col-ancor" data-sly-test="${properties.number == '3' || properties.number == '4' || properties.number == '5' }" data-sly-resource="${'tile3' @ resourceType='joinon/components/content/tile'}">

        </div>
        <div class="col-ancor" data-sly-test="${properties.number == '4' || properties.number == '5' }" data-sly-resource="${'tile4' @ resourceType='joinon/components/content/tile'}">

        </div>
        <div class="col-ancor" data-sly-test="${properties.number == '5' }"data-sly-resource="${'tile5' @ resourceType='joinon/components/content/tile'}">

        </div>
    </div>

<!--    <div class="row ancor-main-content-mobile">-->
<!--        <div class="container-fluid">-->
<!--            <p> <button class="applicazioni-button" type="button" data-toggle="collapse" data-target="#strutturericettive" aria-expanded="false" aria-controls="collapseExample">-->
<!--                STRUTTURE RICETTIVE-->
<!--            </button></p>-->
<!--            <div class="collapse" id="strutturericettive">-->
<!--                <ul class="applicazioni-mobile-link">-->
<!--                    <li><a href="#"><i class="icon-joinon icon-bed"></i>HOTEL E BED&BREAKFAST</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-van"></i>CAMPEGGI</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-eat"></i>RISTORANTI E BAR</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-meeting"></i>DISCOTECHE E CINEMA</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-temple"></i>AREA RICREZIONALI E MUSEI</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <p><button class="applicazioni-button" type="button" data-toggle="collapse" data-target="#settoresportivo" aria-expanded="false" aria-controls="collapseExample">-->
<!--                SETTORE SPORTIVO-->
<!--            </button></p>-->
<!--            <div class="collapse" id="settoresportivo">-->
<!--                <ul class="applicazioni-mobile-link">-->
<!--                    <li><a href="#"><i class="icon-joinon icon-shoe"></i>CENTRI SPORTIVI MEDIO PICCOLI</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-muscle"></i>PALESTRE</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-stadio"></i>STADI E ARENE</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <p> <button class="applicazioni-button" type="button" data-toggle="collapse" data-target="#terziario" aria-expanded="false" aria-controls="collapseExample">-->
<!--                TERZIARIO-->
<!--            </button></p>-->
<!--            <div class="collapse" id="terziario">-->
<!--                <ul class="applicazioni-mobile-link">-->
<!--                    <li><a href="#"><i class="icon-joinon icon-showroom"></i>PICCOLI NEGOZI E SHOW ROOM</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-hospital"></i>STRUTTURE SOCIO SANITARIE</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <p> <button class="applicazioni-button" type="button" data-toggle="collapse" data-target="#supermercati" aria-expanded="false" aria-controls="collapseExample">-->
<!--                SUPERMERCATI E GDO-->
<!--            </button></p>-->
<!--            <div class="collapse" id="supermercati">-->
<!--                <ul class="applicazioni-mobile-link">-->
<!--                    <li><a href="#"><i class="icon-joinon icon-shop-2"></i>SUPERMERCATI</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-commercial"></i>CENTRI COMMERCIALI</a></li>-->
<!--                    <li><a href="#"><i class="icon-joinon icon-shopper"></i>OUTLET VILLAGE</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <p> <button class="applicazioni-button" type="button" data-toggle="collapse" data-target="#residenziale" aria-expanded="false" aria-controls="collapseExample">-->
<!--                RESIDENZIALE PRIVATO-->
<!--            </button></p>-->
<!--            <div class="collapse" id="residenziale">-->
<!--                <ul class="applicazioni-mobile-link">-->
<!--                    <li><a href="#"><i class="icon-joinon icon-car"></i>PARCHEGGI E GARAGE</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>