footer {
    padding: 30px 0;
    color: #8B8888;
    background: #3B3A39;
    font-size: 16px;
    font-family: 'Rajdhani-Medium', sans-serif;
}

footer a {
    color: #8B8888;
}

footer a:hover,
footer a:active {
    color: #fff;
}

.social-links i {
    padding-left: 10px;
    color: #fff;
}

.footer-menu li {
    font-size: 14px;
}

.footer-logo {
    width: 150px;
}

.footer-menu ul {
    line-height: 20px;
    padding-inline-start: 18px;
}

.footer-menu .subtitle {
    font-size: 17px;
    padding-bottom: 5px;
}

.footer-other-links a {
    margin-right: 25px;
    margin-left: 25px;
}

.social-links {
    text-align: right;
    padding-bottom: 25px;
}

.nav-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-menu {
    padding: 25px 0 70px 0;
    border-bottom: 1px solid #696969;
    border-top: 1px solid #696969;
    margin-bottom: 25px;
}

.footer-other-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #696969;
    border-top: 1px solid #696969;
}

.gewiss-logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
}

.info-text p{
    margin: 0;
}

.info {
    padding-top: 25px;
}

.info-txt{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.info-txt p{
    margin-bottom: 0;
}

.logo-mobile {
    display: none
}

.col-footer-menu:last-child {
    padding-right: 0;
}

.col-footer-menu:first-child {
    padding-left: 0;
}

@media screen and (max-width:991px) {
    .social-links {
        text-align: center;
        border-bottom: 1px solid #696969;
        padding-bottom: 25px;
    }
    .social-links i {
        padding: 0 10px;
        margin: 0;
    }
    .footer-logo {
        margin: 25px auto;
        text-align: center;
        display: block;
    }
    .info {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .gewiss-logo {
        margin: auto;
        margin-bottom: 25px;
    }
    .info p {
        font-size: 11px;
        text-align: center;
        margin-left: 0;
        color: #888;
    }
    .footer-other-links a {
        margin-right: 30px;
    }
}

@media screen and (max-width:767px) {
    .footer-logo {
        display: none
    }
    .logo-mobile img {
        max-width: 200px;
        text-align: center;
    }
    .logo-mobile {
        width: 100%;
        text-align: center;
        padding: 15px 0 30px 0;
        border-bottom: 1px solid #696969;
        display: block
    }
    .social-links {
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #696969;
        margin-bottom: 25px;
    }
    .footer-menu {
        display: none;
    }
    .footer-other-links {
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5px;
        border-top: 0 none;
        padding-top: 0;
    }
    .footer-other-links a {
        margin-right: 0;
        padding-bottom: 20px;
    }
    .info p {
        margin-bottom: 10px;
    }
}