.cta {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: 'Rajdhani-Bold', sans-serif;
    line-height: 1;
    outline: none !important;
}

.cta .icon-joinon {
    font-size: 36px;
    position: relative;
    z-index: 1;
    display: block;
}

[class*="icon-arrow-"]:before {
    display: block;
    width: 1em;
}

.cta .icon-joinon[class*="icon-arrow-"]:after {
    content: '';
    background: #fff;
    padding-left: 0.9em;
    border-radius: 1000px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
}

.cta-vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cta-vertical .icon-joinon {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    background: transparent;
    opacity: 1;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid #fff;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #5EBF48;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.ekko-lightbox a:hover {
    color: #fff;
}

@media screen and (max-width:767px) {
    .cta {
        letter-spacing: 6px;
    }
    .cta .icon-joinon {
        font-size: 27px;
    }
    .cta-vertical.cta-horizontal-mobile {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .cta-vertical.cta-horizontal-mobile .icon-joinon {
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .btn-container{
        padding-top: 15px;
        margin-top: 26px;
    }
}