
.white-bg {
    background: #ffffff;
}

.white-txt {
    color: #ffffff;
}

.grey-lighter-bg {
    background: #EFF0F0;
}

.grey-lighter-txt {
    color: #EFF0F0;
}

.grey-light-bg {
    background: #F0EDEC;
}

.grey-light-txt {
    color: #F0EDEC;
}

.grey-medium-bg {
    background: #8B8888;
}

.grey-medium-txt {
    color: #8B8888;
}

.grey-medium-dark-bg {
    background: #777;
}

.grey-medium-dark-txt {
    color: #777;
}

.grey-dark-bg {
    background: #3B3A39;
    color: #fff;
}

.grey-dark-txt {
    color: #3B3A39;
}

.green-txt {
    color: #5EBF48;
}