
@font-face{
    font-family:'Rajdhani-Light';
    src: url('../../clientlib-all/resources/fonts/Rajdhani-Light.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face{
    font-family:'Rajdhani';
    src: url('../../clientlib-all/resources/fonts/Rajdhani-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face{
    font-family:'Rajdhani-Medium';
    src: url('../../clientlib-all/resources/fonts/Rajdhani-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face{
    font-family:'Rajdhani-SemiBold';
    src: url('../../clientlib-all/resources/fonts/Rajdhani-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face{
    font-family:'Rajdhani-Bold';
    src: url('../../clientlib-all/resources/fonts/Rajdhani-Bold.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
