html,
body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    color: #3B3A39;
    line-height: 1.1;
}

*:hover,
*:focus{
    outline: none;
} 

.main {
    padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin: 0;
}

a {
    color: #3B3A39;
}

a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

a .icon-joinon,
button .icon-joinon {
    color: #5EBF48;
    margin-right: 15px;
}

.grey-dark-bg a {
    color: #fff;
}

.grey-dark-bg a:hover,
.grey-dark-bg a:focus,
.grey-dark-bg a:active {
    color: #ccc;
}

ul,
ol,
ul,
li {
    margin-bottom: 0;
}

button,
input,
a {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1530px;
}

[data-object-fit="cover"] {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.icon-joinon.icon-plus {
    font-weight: bold;
}

.main > * {
    position: relative;
    z-index: 0;
}

.swiper-slide{
    height: auto;
}

@media screen and (max-width:1529px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width:1023px) {
    .main {
        padding-top: 58px;
    }
}

@media screen and (max-width: 767px){
    html,
    body {
        font-size: 18px;
    }

    [data-object-fit-mobile="cover"] {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

@media screen and (max-width: 575px){
    [data-object-fit-mobile-small="cover"] {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}