@font-face {
    font-family: 'icons-joinon';
    src: url('../../clientlib-all/resources/icons/icons-joinon.ttf?k8cd1r') format('truetype'), url('../../clientlib-all/resources/icons/icons-joinon.woff?k8cd1r') format('woff'), url('../../clientlib-all/resources/icons/icons-joinon.svg?k8cd1r#icons-joinon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-joinon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons-joinon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-people-6:before {
    content: "\e935";
}

.icon-people-3:before {
    content: "\e932";
}

.icon-chat:before {
    content: "\e933";
}

.icon-earth:before {
    content: "\e934";
}

.icon-card-2:before {
    content: "\e936";
}

.icon-map-2:before {
    content: "\e937";
}

.icon-mail:before {
    content: "\e938";
}

.icon-pencil:before {
    content: "\e939";
}

.icon-dna:before {
    content: "\e93a";
}

.icon-person-flat:before {
    content: "\e93b";
}

.icon-battery:before {
    content: "\e93c";
}

.icon-user-circle:before {
    content: "\e93d";
}

.icon-hand-circle:before {
    content: "\e93e";
}

.icon-eye:before {
    content: "\e93f";
}

.icon-statistic:before {
    content: "\e940";
}

.icon-segnaposto:before {
    content: "\e941";
}

.icon-memo-2:before {
    content: "\e942";
}

.icon-car-2:before {
    content: "\e943";
}

.icon-less:before {
    content: "\e92f";
}

.icon-more:before {
    content: "\e930";
}

.icon-close:before {
    content: "\e931";
}

.icon-arrow2-right:before {
    content: "\e92a";
}

.icon-arrow2-top:before {
    content: "\e92c";
}

.icon-arrow2-bottom:before {
    content: "\e92d";
}

.icon-arrow2-left:before {
    content: "\e92e";
}

.icon-search:before {
    content: "\e92b";
}

.icon-bed:before {
    content: "\e902";
}

.icon-arrow-bottom:before {
    content: "\e910";
}

.icon-arrow-left:before {
    content: "\e927";
}

.icon-arrow-right:before {
    content: "\e928";
}

.icon-arrow-top:before {
    content: "\e929";
}

.icon-eat:before {
    content: "\e922";
}

.icon-shop-2:before {
    content: "\e926";
}

.icon-hands:before {
    content: "\e91a";
}

.icon-chef:before {
    content: "\e91b";
}

.icon-gym:before {
    content: "\e91c";
}

.icon-van:before {
    content: "\e91d";
}

.icon-meeting:before {
    content: "\e91e";
}

.icon-temple:before {
    content: "\e91f";
}

.icon-stadio:before {
    content: "\e920";
}

.icon-muscle:before {
    content: "\e921";
}

.icon-showroom:before {
    content: "\e923";
}

.icon-hospital:before {
    content: "\e924";
}

.icon-commercial:before {
    content: "\e925";
}

.icon-analytics:before {
    content: "\e900";
}

.icon-map:before {
    content: "\e901";
}

.icon-buildings:before {
    content: "\e903";
}

.icon-cake:before {
    content: "\e904";
}

.icon-call-center:before {
    content: "\e905";
}

.icon-car:before {
    content: "\e906";
}

.icon-card:before {
    content: "\e907";
}

.icon-dishes:before {
    content: "\e908";
}

.icon-flat:before {
    content: "\e909";
}

.icon-glass:before {
    content: "\e90a";
}

.icon-home:before {
    content: "\e90b";
}

.icon-map-big:before {
    content: "\e90c";
}

.icon-map-small:before {
    content: "\e90d";
}

.icon-memo:before {
    content: "\e90e";
}

.icon-plus:before {
    content: "\e90f";
}

.icon-phone-charge:before {
    content: "\e911";
}

.icon-phone-hand:before {
    content: "\e912";
}

.icon-plants:before {
    content: "\e913";
}

.icon-shoe:before {
    content: "\e914";
}

.icon-shop:before {
    content: "\e915";
}

.icon-shopper:before {
    content: "\e916";
}

.icon-summer:before {
    content: "\e917";
}

.icon-system:before {
    content: "\e918";
}

.icon-user:before {
    content: "\e919";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-google-plus2:before {
    content: "\ea8c";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eac9";
}