.title {
    font-size: 65px;
    text-transform: uppercase;
    line-height: 0.86;
    font-family: 'Rajdhani-Medium', sans-serif;
    margin-top: 0;
    padding-bottom: 50px;
    letter-spacing: 0.5px;
    padding-top: 0;
}

.pretitle {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-family: 'Rajdhani-Bold', sans-serif;
    line-height: 1.3;
    padding-bottom: 70px;
    padding-top: 0;
}

.subtitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 45px;
    padding-top: 0;
}

.icon-subtitle {
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Rajdhani-Bold', sans-serif;
    line-height: 1.3;
    text-align: center;
    margin-top: 20px;
}

.numbers {
    font-size: 120px;
    font-family: 'Rajdhani-Medium', sans-serif;
    line-height: 0.75;
    margin-bottom: 0;
}

.txt-base {
    font-family:'Rajdhani', sans-serif;
}

.txt-light {
    font-family: 'Rajdhani-Light', sans-serif;
}

.txt-medium {
    font-family: 'Rajdhani-Medium', sans-serif;
}

.txt-semibold {
    font-family:'Rajdhani-SemiBold', sans-serif;
}

.txt-bold {
    font-family: 'Rajdhani-Bold', sans-serif;
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .title {
        font-size: 47px;
        padding-bottom: 35px;
    }
    .pretitle {
        font-size: 13px;
        padding-bottom: 45px;
    }
    .subtitle {
        font-size: 23px;
        padding-bottom: 35px;
    }
    .numbers {
        font-size: 70px;
    }
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 26px;
        padding-bottom: 20px;
        letter-spacing: 0.25px;
    }
    .pretitle {
        font-size: 13px;
        padding-bottom: 20px;
        letter-spacing: 0.25em;
    }
    .subtitle {
        font-size: 16px;
        padding-bottom: 26px;
    }
    .numbers {
        font-size: 70px;
    }
}