<sly data-sly-use.tile="mk.codeit.joinon.core.models.AnchorTile"></sly>
<a class="ancor-content" href="#strutture">
    <img class="ancor-img" src="https://joinon.com/content/dam/joinon/editoriali/BG_soluzioni.jpg">
    <div class="col-ancor-container">
        <div class="col-ancor-icon-img">
            <i class="icon-joinon icon-chef green-txt"></i>
            <span data-sly-test="${properties.title}" class="icon-subtitle">${tile.title}</span></div>
    </div>
</a>
<div class="ancor-cta-container">
    <a data-sly-repeat.tileItem="${tile.listOfItems}"
            href="#"><i data-sly-test="${tileItem.icon}"  class="icon-joinon icon-van"></i> ${tileItem.text}</a>
</div>

