.cm-ancor {
    text-align: center;
}

.cm-ancor .row {
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-flex-wrap: none;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.cm-ancor .title {
    padding-bottom: 20px;
    text-transform: none;
}

.cm-ancor .pretitle {
    padding: 0 0 60px 0;
    position: relative;
}

.ancor-container {
    padding-top: 50px;
    padding-bottom: 60px;
}

.cm-ancor .subtitle {
    padding-bottom: 30px;
}

.col-ancor {
    max-width: 20%;
    flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.ancor-content {
    position: relative;
    display: block;
}

.ancor-img {
    width: 100%;
}

.col-ancor-icon-img .icon-subtitle {
    color: #fff;
}

.col-ancor-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

.col-ancor-container:hover {
    background: none;
}

.col-ancor-icon-img {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 30px;
    position: relative;
}

.col-ancor-icon-img .icon-joinon {
    font-size: 45px;
    margin: 0;
    display: block;
}

.col-slider-container {
    padding-bottom: 80px;
}

.ancor-cta-container {
    width: 100%;
    text-align: left;
    border-top: 1px solid #D1D0D0;
    margin-top: 20px;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ancor-cta-container a {
    padding: 15px 0;
    border-bottom: 1px solid #D1D0D0;
    color: #716F6D;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Rajdhani-Semibold', sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.ancor-cta-container a:hover {
    color: #4c4b4a;
}

.ancor-cta-container i {
    font-size: 30px;
    margin-right: 15px;
}

.ancor-main-content-mobile {
    display: none
}

.ancor-main-content-mobile p {
    margin-bottom: 1px;
}

.applicazioni-button {
    background: #5EBF48;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 15px;
    color: #fff;
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 15px;
    outline: none !important;
}

.ancor-main-content-mobile i {
    font-size: 35px;
    margin-left: 3px;
}

.ancor-main-content-mobile ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.ancor-main-content-mobile ul li {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #D1D0D0;
}

.ancor-main-content-mobile .collapse:last-child {
    border-bottom: 1px solid #D1D0D0;
}

.ancor-main-content-mobile ul li a {
    padding: 10px 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    font-size: 15px;
}

.ancor-main-content-mobile ul li a:after {
    content: '\e928';
    right: 15px;
    position: absolute;
    font-family: 'icons-joinon';
    font-size: 20px;
    color: #5EBF48;
}

.applicazioni-mobile-link li:last-child {
    border: none;
}

.applicazioni-button:after {
    content: '\e92d';
    right: 15px;
    font-family: 'icons-joinon';
    font-size: 8px;
    border: 1px solid;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
}

.applicazioni-button[aria-expanded="true"]:after {
    content: '\e92c';
    line-height: 17px;
}

@media screen and (max-width:1023px) {
    .col-ancor-icon-img {
        top: 5%;
    }
}

@media screen and (max-width:991px) {
    .col-ancor {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 30px;
    }
    .cm-ancor .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (max-width:767px) {
    .ancor-main-content-mobile {
        display: block;
    }
    .ancor-main-content {
        display: none;
    }
    .ancor-container {
        margin-bottom: 0;
    }
    .cm-ancor .pretitle {
        padding: 0 0 20px 0;
        text-align: left;
    }
    .cm-ancor .title {
        text-align: left;
    }
    .cm-ancor .subtitle {
        text-align: left;
    }
}