
.cm-fifty-slider{
    position: relative;
}

.cm-fifty-slider .fifty-box-txt  .fifty-box-content{
    padding: 100px 24px 46px 100px;
    height: 100%;
    position: relative;
    max-width: 765px;
}

.cm-fifty-slider .pretitle{
    padding-bottom: 74px;
}
.cm-fifty-slider .pretitle-icon{
    padding-bottom: 35px;
}
.cm-fifty-slider .col-fifty-slider-icon{
    text-align: center;
}

.cm-fifty-slider.cm-fifty .fifty-box-txt .fifty-box-content{
    padding: 100px 100px 180px 15px;
}

.cm-fifty-slider .icon-subtitle{
    height: 2.6em;
    margin-bottom: 0;
}

.cm-fifty-slider .swiper-button-next .icon-joinon,
.cm-fifty-slider .swiper-button-prev .icon-joinon{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.cm-fifty-slider .swiper-pagination{
    position: relative;
}

@media screen and (max-width: 767px){
    .cm-fifty-slider.cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 30px 24px 35px 24px;
    }

    .cm-fifty-slider .pretitle{
        padding-bottom: 20px;
    }

    .cm-fifty-slider .swiper-button-next, 
    .cm-fifty-slider .swiper-button-prev {
        top: 50vw;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .cm-fifty-slider.cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 65px 24px 80px 24px;
        min-height: auto;
    }
}

@media screen and (min-width:1024px)  and (max-width:1199px){
    .cm-fifty-slider.cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 65px 45px 100px 45px;
        min-height: auto;
        max-width: none;
    }
}