
.cm-fifty{
    position: relative;
}

.cm-fifty .fifty-box-txt .fifty-box-content{
    padding: 100px 15px 85px 100px;
    height: 100%;
    position: relative;
    max-width: 765px;
}

.cm-fifty .col-fifty-icon .icon-joinon{
    font-size: 50px;
}

.cm-fifty .col-fifty-icon{
    text-align: center;
}

.cm-fifty-icons .col-fifty-icon-container{
    padding-top: 0;
    border-top: 0 none;
    width: 100%;
}

.cm-fifty .slider-buttons{
    bottom: 90px;
    width: 100%;
    margin-bottom: -12px;
}

.cm-fifty-slider .slider-buttons .fifty-box-content{
    padding: 0 100px 0 15px;
    max-width: 765px;
}

.hero-fifty-slider .slider-buttons .fifty-box-content{
    padding: 0 15px 0 100px;
    max-width: 765px;
}

.cm-fifty .cta{
    padding-bottom: 0;
}

.cm-fifty .icon-p{
    padding-bottom: 40px;
    font-size: 45px;
}


.cm-fifty .swiper-button-next,
.cm-fifty .swiper-button-prev{
    background: none;
    color: #fff;
}

.cm-fifty-icons .icon-subtitle{
    padding-bottom: 0;
}

.cm-fifty-icons .col-fifty-icon-container{
    padding-bottom: 45px;
}

@media screen and (max-width:767px){
    .cm-fifty .btn-container{
        border-top: 1px solid #707070;
    }
    
    .cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 30px 24px 35px 24px;
    }

    .cm-fifty .btn-container{
        text-align: left;
    }

    .cm-fifty .icon-p{
        padding-bottom: 20px;
        font-size: 35px;
    }
    
    .cm-fifty.change-bg.grey-dark-bg{
        background: #fff;
        color: #3B3A39;
    }

    .cm-fifty.change-bg.grey-dark-bg a{
        color: #3B3A39;
    }

    .cm-fifty .fifty-box-img{
        height: 100vw;
        overflow: hidden;
    }

    .cm-fifty .subtitle,
    .hero-fifty-slider.cm-fifty .subtitle{
        padding-bottom: 0;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 65px 24px 65px 24px;
        min-height: auto;
    }

    .cm-fifty-slider .slider-buttons .fifty-box-content{
        padding: 0 24px 0 24px;
        max-width: 765px;
    }
    
    .hero-fifty-slider .slider-buttons .fifty-box-content{
        padding: 0 24px 0 24px;
        max-width: 765px;
    }

    .cm-fifty .slider-buttons {
        bottom: 40px;
        width: 100%;
    }

}

@media screen and (min-width:1024px)  and (max-width:1199px){
    .cm-fifty .fifty-box-txt .fifty-box-content{
        padding: 65px 45px 65px 45px;
        min-height: auto;
        max-width: none;
    }

    .cm-fifty-slider .slider-buttons .fifty-box-content {
        padding: 0 45px 0 45px;
    }

    .cm-fifty .slider-buttons {
        bottom: 50px;
        width: 100%;
        margin-bottom: 12px;
    }
}