header {
    width: 100%;
    position: fixed;
    z-index: 50;
}

nav {
    width: 100%;
    position: relative;
}

.top-bar {
    position: relative;
}

.grey-nav a {
    font-size: 17px;
    height: 38px;
    padding: 10px;
    margin: 0 15px;
    text-align: center;
    vertical-align: middle;
    -ms-flex-item-align: center;
    align-self: center;
}

.top-bar li {
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}

.top-bar ul {
    display: -ms-flexbox;
    display: flex;
    margin-right: 280px;
    position: relative;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.top-bar {
    position: relative;
    padding: 10px 0;
    font-size: 17px;
}

.login {
    background: #5EBF48;
    color: #ffffff;
    width: 85px;
    text-align: center;
    height: 85px;
    position: absolute;
    z-index: 2;
    right: 140px;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.login-button {
    margin: auto;
}

.header-menu {
    padding: 8px 0 15px 0;
    box-shadow: 0.1px 0.1px 4px #6b6b6b;
}

.header-menu .logo {
    max-width: 160px;
}

.header-gewiss {
    position: absolute;
    right: 0;
    top: 0;
    height: 85px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 1;
}

.header-gewiss .gewiss img {
    width: 90px;
}

.login-button i {
    color: #fff;
    display: block;
    font-size: 25px;
    margin: 0 0 10px 0;
}

.main-menu ul {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    padding: 0;
    height: 40px;
    -ms-flex-align: end;
    align-items: flex-end;
}

.main-menu li {
    font-size: 15px;
    font-family: 'Rajdhani-Medium', sans-serif;
}

.top-bar a i {
    color: #fff;
    margin: 0 5px;
}

.logo-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 1.5rem;
}

/*/////////////////////////////////////*/
/*version with search*/
/*.language,
.search {
    border-left: 1px solid #888;
    padding-left: 10px;
}*/
/*version without search*/
.language,
.search {
    border-left: 1px solid #888;
    padding-left: 10px;
    border-right: 1px solid #888;
    padding-right: 10px;
}
/*/////////////////////////////////////*/

.search {
    padding-right: 10px;
    border-right: 1px solid #888;
}

.menu-container {
    padding-right: 300px
}


/* SCROLL LOGIN */

#scroll-login {
    position: absolute;
    top: 63px;
    right: 108px;
    z-index: -1;
    box-shadow: 0.1px 0.1px 4px #6b6b6b;
}

.login-box {
    position: relative;
}

.recovery-login p {
    margin-bottom: 0;
}

.login-message-error {
    color: red;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-family: 'Rajdhani-Medium', sans-serif;
}

.scroll-login {
    padding: 30px;
}

.login-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.login-form:before {
    display: inline-block;
    vertical-align: .255em;
    position: absolute;
    top: 0;
    right: 58px;
    content: "";
    border-top: 15px solid;
    color: #5EBF48;
    border-right: 15px solid transparent;
    border-bottom: 0;
    border-left: 15px solid transparent;
}

.login-form-control {
    background: #fff;
    padding: 10px;
    width: 100%;
    min-width: 200px;
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form-control.error {
    border: 1px solid red;
}

.accedi-button-text .icon-joinon {
    color: #fff;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: auto;
}

.recovery-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.recovery-login a {
    color: #5EBF48;
}

.recovery-login p {
    font-size: 14px;
    margin-top: 15px;
    color: #3B3A39;
}

.accedi-button-text {
    margin: auto;
}

.accedi-button-text span {
    color: #fff;
    font-size: 17px;
}

.accedi-button {
    background: #5EBF48;
    color: #ffffff;
    width: 85px;
    text-align: center;
    height: 130px;
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -ms-flex-align: center;
    align-items: center;
    outline: none !important;
}


/* MENU */

.menuFlex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.dropdownMenu-col {
    display: block;
    margin: 0 10px;
    /*width: 100%;*/
    min-width: 140px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
}
.menuFlex.dropdown-img .dropdownMenu-col{
    text-align: center;
}

.main-menu .nav-link {
    padding: 0;
}

.menuFlex img {
    max-width: 100px;
    max-height: 100px;
}

.main-menu .dropdown-toggle::after {
    display: none
}

.menu-container .dropdown.show .nav-link:after {
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: -30px;
    content: "";
    border-top: 15px solid;
    color: #5EBF48;
    border-right: 15px solid transparent;
    border-bottom: 0;
    border-left: 15px solid transparent;
}

.main-menu .dropdown-menu {
    box-shadow: 0.1px 0.1px 4px #a2a2a2;
    border-top: none;
    padding: 35px 25px 30px 25px;
    border-radius: 0;
    margin-top: 15px;
    z-index: -1;
    margin-left: -30px;
}

.menu-subtitle {
    font-size: 15px;
    font-family: 'Rajdhani-Bold', sans-serif;
    margin-bottom: 10px;
}

.menuFlex a {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    float: none;
    display: block;
}


/* MENU MOBILE */

#mobileMenu,
#applicazioni,
#prodotti,
#emobility,
#menu1,
#menu2,
#menu3,
#menu4,
#menu5,
#menu6{
    transform: translate(3000px);
}

.id-show {
    transform: translate(0) !important;
}

.menu-container-mobile {
    display: none;
}

.navigation-icon {
    padding: 0;
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    outline: none !important;
    padding-bottom: 5px;
}

.navigation-icon:after {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 25px;
    background: #3B3A39;
    border-radius: 1.66666667px;
    box-shadow: 0px -8px 0px 0px #3B3A39, 0px 8px 0px 0px #3B3A39;
}

.mobile-buttons>div {
    margin-right: 10px;
}

.menu-search i {
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    color: #3B3A39;
}

ul.navbar-mobile {
    padding-left: 0;
}

.search-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#search-show input {
    transition: width 0.2s linear;
    width: 0;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
}

#search-show.active-search input {
    width: 200px;
}

#search-show input::placeholder {
    color: #fff;
}

input.search-input {
    width: 100%;
}

input.search-input::placeholder {
    color: #3B3A39;
}

.navbar-mobile li.menu-search {
    padding: 20px 0;
    margin-top: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 14px;
    position: relative;
    border-top: 1px solid #E2DFDF;
}

.navbar-mobile .secondary-image-links {
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 14px;
}

.navbar-mobile .secondary-links {
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 14px;
}

.secondary-links:after {
    content: '\e930';
    font-family: "icons-joinon";
    float: right;
    border: 1px solid #D1D0D0;
    color: #D1D0D0;
    border-radius: 50%;
    width: 20px;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    text-align: center;
}

.secondary-links[aria-expanded="true"]:after {
    content: '\e92f';
}

.slide-left-button i {
    color: #3B3A39;
}

.close-button {
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 5px;
    outline: none !important;
}

.main-links {
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    font-family: 'Rajdhani-Bold', sans-serif;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

#mobileMenu {
    transition: transform 0.4s linear;
}

.link-slide:after {
    content: '\e92a';
    font-family: 'icons-joinon';
    border: 1px solid #D1D0D0;
    color: #D1D0D0;
    border-radius: 50%;
    width: 20px;
    font-size: 12px;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    line-height: 18px;
    height: 20px;
    text-align: center;
}

a.main-links {
    padding-right: 30px;
}

.close-button:after {
    display: block;
    content: "\e931";
    font-family: "icons-joinon";
    font-size: 22px;
    line-height: 25px;
}

.slide-left-button i {
    font-weight: bold;
    margin: 0;
}

.slide-left-button {
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 10px;
}

.navbar-mobile li {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    float: none;
    border-bottom: 1px solid #E2DFDF;
    display: block;
}

.navbar-mobile li:first-child {
    border-top: 1px solid #E2DFDF;
}

.header-logo-mobile {
    padding-bottom: 35px;
    margin-top: 50px;
}

.mobile-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: right;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
}

.mobile-collapse a:before {
    content: '>';
    padding-right: 5px;
}

.mobile-collapse {
    padding-left: 25px;
    margin-bottom: 20px;
}

.mobile-collapse a {
    display: block;
    padding: 5px;
}

.menu-mobile-container {
    position: absolute;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    background: #fff;
    padding: 30px;
    width: 80%;
    height: 100vh;
}

.menu-mobile-container nav {
    overflow: auto;
    height: 100%;
    -ms-flex: 1;
    flex: 1;
}

.main-mobile-content {
    z-index: 50;
}

.bg-overlay {
    display: none;
    background: #000000b8;
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100%;
}

.mobile-login i {
    color: #3B3A39;
}

@media screen and (min-width:1024px) and (max-width:1199px) {
    .login {
        right: 100px;
    }
    .top-bar ul {
        margin-right: 200px;
    }
    .header-menu .logo {
        max-width: 120px;
    }
    .menu-container {
        padding-right: 230px;
    }
    .top-bar ul {
        margin-right: 210px;
    }
    .login {
        right: 100px;
    }
    .header-gewiss .gewiss img {
        width: 75px;
    }
    #scroll-login {
        right: 70px;
    }
}

@media screen and (max-width:1023px) {
    .login-box {
        position: unset;
    }
    .menu-container-mobile {
        display: block;
    }
    .top-bar {
        display: none;
    }
    .menu-container {
        display: none;
    }
    .header-menu {
        padding: 15px 0;
    }
    #scroll-login {
        right: 0;
        top: 58px;
    }
}

@media screen and (max-width:374px) {
    .recovery-login {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 10px
    }
    .recovery-login p {
        margin-top: 5px;
    }
    .login-form {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .logo-container {
        margin-right: 0;
    }
    .accedi-button {
        width: 100%;
        margin-left: 0;
        height: 60px
    }
    .accedi-button-text {
        margin: auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
    }
    .login-form .accedi-button .icon-joinon {
        margin: 0 10px 0 0;
    }
    .login-message-error {
        margin-bottom: 15px;
    }
}