<div class="cm-fifty row no-gutters change-bg grey-dark-bg">

    <!-- half box / img-->
    <div class="fifty-box fifty-box-img col-md-6 col-12">
        <img data-sly-test="${properties.fileReference}" src="${properties.fileReference}" data-object-fit="cover">
    </div>

    <!-- half box / txt-->
    <div class="fifty-box fifty-box-txt col-md-6 col-12">
        <div class="fifty-box-content d-flex flex-column">

            <!-- text content-->
            <div class="fifty-txt text-center d-flex justify-content-start flex-column h-100">
                <div data-sly-test="${properties.topTitle}" class="pretitle">${properties.topTitle}</div>
                <div data-sly-test="${properties.mainTitle}" class="title green-txt">${properties.mainTitle}</div>
                <div data-sly-test="${properties.subTitle}" class="subtitle">${properties.subTitle}</div>
                <div data-sly-test="${properties.text}" class="subtitle">${properties.text}</div>
                <div class="btn-container mt-md-auto">
                    <a data-sly-test="${properties.ctalink}"  class="cta cta-vertical cta-horizontal-mobile" href="${properties.ctalink}">
                        <i class="icon-joinon icon-arrow-right"></i>
                        <span class="text">Read More</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

