<header class="header parbase">
    <div class="grey-dark-bg">
        <div class="container">
            <div class="top-bar">
                <ul>
                    <li class="dropdown">
                        <a href="#" class="language dropdown-toggle dropdown-toggle-left" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ITA</a>

                        <div class="dropdown-menu min-w-auto">
                            <a class="dropdown-item" href="/content/joinon/en.html">ENG</a>


                        </div>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/GewissGroup"><i class="icon-joinon icon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/gewissgroup/"><i class="icon-joinon icon-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/gewissgroup"><i class="icon-joinon icon-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://it.linkedin.com/company/gewiss"><i class="icon-joinon icon-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/GEWISStv"><i class="icon-joinon icon-youtube"></i></a>
                    </li>
                </ul>
                <a class="login action-login" href="https://backend.joinon.com/etsweb3/" role="button">
                    <div class="login-button"><i class="icon-joinon icon-user"></i> <span>LOGIN</span></div>
                </a>

                <div class="header-gewiss">
                    <a class="gewiss" href="https://www.gewiss.com/it/it" target="_self">
                        <img src="/etc.clientlibs/joinon/clientlibs/clientlib-all/resources/images/gewiss-white.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu white-bg">
        <div class="container">
            <div class="row">
                <div class="col-auto logo-container">
                    <a href="/content/joinon/it.html"><img class="logo" src="/etc.clientlibs/joinon/clientlibs/clientlib-all/resources/images/joinon-white.png"></a>
                </div>
                <div class="col menu-container">
                    <nav role="navigation" class="main-menu">
                        <ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   href="/content/joinon.html" target="_self" aria-haspopup="true"
                                   aria-expanded="false">PRODOTTI</a>

                                <div class="dropdown-menu">

                                    <div class="menuFlex dropdown-img">

                                        <div class="dropdownMenu-col">
                                            <a href="/content/joinon/it/PRODUCT/ION-colonina.html">
                                                <img src="/content/dam/joinon/prodotti/ION_colonnina.jpg"
                                                     alt="I-ON"></a>
                                            <span class="prodotti menu-subtitle">I-ON</span>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <a href="/content/joinon/it/PRODUCT/ION-WALLBOX.html">
                                                <img src="/content/dam/joinon/prodotti/ION_wall.jpg"
                                                     alt="I-ON WALL"></a>
                                            <span class="prodotti menu-subtitle">I-ON WALL</span>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <a href="/content/joinon/it/PRODUCT/EASY.html">
                                                <img src="/content/dam/joinon/prodotti/EASY.jpg" alt="EASY"></a>
                                            <span class="prodotti menu-subtitle">EASY</span>
                                        </div>


                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   href="/content/joinon.html" target="_self" aria-haspopup="true"
                                   aria-expanded="false">APPLICAZIONI</a>

                                <div class="dropdown-menu">

                                    <div class="menuFlex">


                                        <div class="dropdownMenu-col">
                                            <div class="menu-subtitle">HO.RE.CA</div>
                                            <a href="/content/joinon/it/HO-RE-CA/HOTEL-B&amp;B.html" target="_self">HOTEL
                                                &amp; B&amp;B</a><a
                                                href="/content/joinon/it/HO-RE-CA/PORTI-CAMPEGGI.html" target="_self">PORTI
                                            &amp; CAMPEGGI</a><a href="/content/joinon/it/HO-RE-CA/RISTORANTI.html"
                                                                 target="_self">RISTORANTI</a><a
                                                href="/content/joinon/it/HO-RE-CA/AREE-RICREAZIONALI.html"
                                                target="_self">AREE RICREATIVE</a>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <div class="menu-subtitle">SETTORE SPORTIVO</div>
                                            <a href="/content/joinon/it/settore_sportivo/centri_sportivi.html"
                                               target="_self">CENTRI SPORTIVI</a><a
                                                href="/content/joinon/it/settore_sportivo/Palestre.html" target="_self">PALESTRE</a><a
                                                href="/content/joinon/it/settore_sportivo/stadi_arene.html"
                                                target="_self">STADI &amp; ARENE</a>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <div class="menu-subtitle">RETAIL</div>
                                            <a href="/content/joinon/it/Retail/gdo_gds.html" target="_self">GDO &amp;
                                                GDS</a><a href="/content/joinon/it/Retail/centro-commerciale.html"
                                                          target="_self">CENTRO COMMERCIALE</a><a
                                                href="/content/joinon/it/Retail/esercizi-commerciali.html"
                                                target="_self">ESERCIZI COMMERCIALI</a><a
                                                href="/content/joinon/it/Retail/oil-gas.html" target="_self">OIL &amp;
                                            GAS</a>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <div class="menu-subtitle">PARKING</div>
                                            <a href="/content/joinon/it/applicazioni-parking/parcheggi-pubblici.html"
                                               target="_self">PARCHEGGI PUBBLICI</a>
                                        </div>
                                        <div class="dropdownMenu-col">
                                            <div class="menu-subtitle">PRIVATO E FLOTTE</div>
                                            <a href="/content/joinon/it/Privato_flotte/ABITAZIONE-PRIVATA.html"
                                               target="_self">ABITAZIONE PRIVATA</a><a
                                                href="/content/joinon/it/Privato_flotte/Condominio.html" target="_self">CONDOMINIO</a><a
                                                href="/content/joinon/it/Privato_flotte/Parcheggi-flotte.html"
                                                target="_self">PARCHEGGI PER FLOTTE</a>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">

                                <a href="/content/joinon/it/App.html" target="_self">
                                    APP
                                </a>

                            </li>

                            <li class="nav-item dropdown">

                                <a href="/content/joinon/it/Piattaforma.html" target="_self">
                                    SISTEMA DI GESTIONE
                                </a>

                            </li>

                            <li class="nav-item dropdown">

                                <a href="/content/joinon/it/e-mobilty.html" target="_self">
                                    ABOUT E-MOBILITY
                                </a>

                            </li>

                            <li class="nav-item dropdown">

                                <a href="/content/joinon/it/Who_we_are.html" target="_self">
                                    CHI SIAMO
                                </a>

                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col menu-container-mobile">
                    <div class="mobile-buttons">
                        <button class="navigation-icon" type="button" aria-controls="mobileMenu" aria-expanded="false"
                                aria-label="Mobile navigation"></button>
                        <div class="mobile-login">
                            <a class="action-login" href="https://backend.joinon.com/etsweb3/" role="button">
                                <i class="icon-joinon icon-user"></i>
                            </a>
                        </div>

                        <!--TODO configurare la dropdown con il backend -->
                        <div class="dropdown">
                            <a href="#" class="language border-0 dropdown-toggle dropdown-toggle-left" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ITA</a>
                            <div class="dropdown-menu min-w-auto">
                                <a class="dropdown-item" href="/content/joinon/en.html">ENG</a>


                            </div>
                        </div>

                        <!-- <div class="mobile-search"><i class="icon-joinon icon-search"></i></div> -->
                    </div>
                </div>

                <div class="main-mobile-content">
                    <div class="menu-mobile-container" id="mobileMenu">
                        <button class="close-button"></button>
                        <div class="header-logo-mobile">
                            <a href="/content/joinon/it.html"><img class="logo"
                                                                   src="/content/dam/joinon/LOGO_joinon.png"></a>
                        </div>
                        <nav role="navigation">
                            <ul class="primary-menu navbar-mobile">
                                <li>
                                    <a class="main-links link-slide menu1" role="button">
                                        PRODOTTI
                                    </a>


                                </li>
                                <li>
                                    <a class="main-links link-slide menu2" role="button">
                                        APPLICAZIONI
                                    </a>


                                </li>
                                <li>


                                    <a class="main-links" href="/content/joinon/it/App.html" target="_self">
                                        APP
                                    </a>
                                </li>
                                <li>


                                    <a class="main-links" href="/content/joinon/it/Piattaforma.html" target="_self">
                                        SISTEMA DI GESTIONE
                                    </a>
                                </li>
                                <li>


                                    <a class="main-links" href="/content/joinon/it/e-mobilty.html" target="_self">
                                        ABOUT E-MOBILITY
                                    </a>
                                </li>
                                <li>


                                    <a class="main-links" href="/content/joinon/it/Who_we_are.html" target="_self">
                                        CHI SIAMO
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                    <div class="menu-mobile-container" id="menu1">
                        <button class="close-button"></button>
                        <button class="slide-left-button" onclick="slideLeft($(this))"><i
                                class="icon-joinon icon-arrow2-left"></i></button>
                        <div class="header-logo-mobile">
                            <a href="/content/joinon/it"><img class="logo"
                                                              src="/content/dam/joinon/LOGO_joinon.png"></a>
                        </div>
                        <nav role="navigation">


                            <ul class="navbar-mobile">
                                <li>
                                    <a class="secondary-image-links"
                                       href="/content/joinon/it/PRODUCT/ION-colonina.html">
                                        I-ON
                                    </a>
                                </li>
                                <li>
                                    <a class="secondary-image-links" href="/content/joinon/it/PRODUCT/ION-WALLBOX.html">
                                        I-ON WALL
                                    </a>
                                </li>
                                <li>
                                    <a class="secondary-image-links" href="/content/joinon/it/PRODUCT/EASY.html">
                                        EASY
                                    </a>
                                </li>

                            </ul>

                        </nav>
                    </div>

                    <div class="menu-mobile-container" id="menu2">
                        <button class="close-button"></button>
                        <button class="slide-left-button" onclick="slideLeft($(this))"><i
                                class="icon-joinon icon-arrow2-left"></i></button>
                        <div class="header-logo-mobile">
                            <a href="/content/joinon/it"><img class="logo"
                                                              src="/content/dam/joinon/LOGO_joinon.png"></a>
                        </div>
                        <nav role="navigation">

                            <ul class="navbar-mobile">
                                <li>
                                    <a class="secondary-links" data-toggle="collapse" href="#column-0" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        HO.RE.CA
                                    </a>
                                    <div class="mobile-collapse collapse" id="column-0">
                                        <a href="/content/joinon/it/HO-RE-CA/HOTEL-B&amp;B.html" target="_self">HOTEL
                                            &amp; B&amp;B</a><a href="/content/joinon/it/HO-RE-CA/PORTI-CAMPEGGI.html"
                                                                target="_self">PORTI &amp; CAMPEGGI</a><a
                                            href="/content/joinon/it/HO-RE-CA/RISTORANTI.html"
                                            target="_self">RISTORANTI</a><a
                                            href="/content/joinon/it/HO-RE-CA/AREE-RICREAZIONALI.html" target="_self">AREE
                                        RICREATIVE</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="secondary-links" data-toggle="collapse" href="#column-1" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        SETTORE SPORTIVO
                                    </a>
                                    <div class="mobile-collapse collapse" id="column-1">
                                        <a href="/content/joinon/it/settore_sportivo/centri_sportivi.html"
                                           target="_self">CENTRI SPORTIVI</a><a
                                            href="/content/joinon/it/settore_sportivo/Palestre.html" target="_self">PALESTRE</a><a
                                            href="/content/joinon/it/settore_sportivo/stadi_arene.html" target="_self">STADI
                                        &amp; ARENE</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="secondary-links" data-toggle="collapse" href="#column-2" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        RETAIL
                                    </a>
                                    <div class="mobile-collapse collapse" id="column-2">
                                        <a href="/content/joinon/it/Retail/gdo_gds.html" target="_self">GDO &amp;
                                            GDS</a><a href="/content/joinon/it/Retail/centro-commerciale.html"
                                                      target="_self">CENTRO COMMERCIALE</a><a
                                            href="/content/joinon/it/Retail/esercizi-commerciali.html" target="_self">ESERCIZI
                                        COMMERCIALI</a><a href="/content/joinon/it/Retail/oil-gas.html" target="_self">OIL
                                        &amp; GAS</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="secondary-links" data-toggle="collapse" href="#column-3" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        PARKING
                                    </a>
                                    <div class="mobile-collapse collapse" id="column-3">
                                        <a href="/content/joinon/it/applicazioni-parking/parcheggi-pubblici.html"
                                           target="_self">PARCHEGGI PUBBLICI</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="secondary-links" data-toggle="collapse" href="#column-4" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        PRIVATO E FLOTTE
                                    </a>
                                    <div class="mobile-collapse collapse" id="column-4">
                                        <a href="/content/joinon/it/Privato_flotte/ABITAZIONE-PRIVATA.html"
                                           target="_self">ABITAZIONE PRIVATA</a><a
                                            href="/content/joinon/it/Privato_flotte/Condominio.html" target="_self">CONDOMINIO</a><a
                                            href="/content/joinon/it/Privato_flotte/Parcheggi-flotte.html"
                                            target="_self">PARCHEGGI PER FLOTTE</a>
                                    </div>
                                </li>
                            </ul>


                        </nav>
                    </div>


                </div>

                <div class="bg-overlay"></div>

            </div>
        </div>
    </div>
</header>