<footer class="footer">
    <div class="container">
        <div class="logo-mobile"><img src="/etc.clientlibs/joinon/clientlibs/clientlib-all/resources/images/joinon-subtitle.png"></div>
        <div class="social-links">
            <a href="https://www.facebook.com/GewissGroup"><i class="icon-joinon icon-facebook"></i></a>
            <a href="https://www.instagram.com/gewissgroup/"><i class="icon-joinon icon-instagram"></i></a>
            <a href="https://twitter.com/gewissgroup"><i class="icon-joinon icon-twitter"></i></a>
            <a href="https://it.linkedin.com/company/gewiss"><i class="icon-joinon icon-linkedin"></i></a>
            <a href="https://www.youtube.com/user/GEWISStv"><i class="icon-joinon icon-youtube"></i></a>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-other-links justify-content-center">
                    <a href="/content/joinon/it/Who_we_are.html" target="_blank">CHI SIAMO</a>

                    <a href="https://www.gewiss.com/it/it/company/contact-us.html" target="_self">CONTATTI</a>

                    <a href="https://www.gewiss.com/it/it/company/landingpage/Privacy--Policy.html" target="_self">PRIVACY
                        POLICY</a>

                    <a href="https://www.gewiss.com/it/it/company/landingpage/cookie-policy.html" target="_self">COOKIE
                        POLICY</a>

                    <a href="https://www.gewiss.com/it/it/company/landingpage/standard-sales-conditions.html"
                       target="_self">CONDIZIONI</a>
                </div>
            </div>
        </div>

        <div class="row info flex-row justify-content-center">
            <div class="info-txt">
                <p>Copyright ©2019 Gewiss S.p.A. P.IVA 00385040167</p>

                <p>Società con unico Socio. Sede legale: Via A. Volta, 1 - 24069 CENATE SOTTO BG – Italia.</p>

                <p>Codice Fiscale, Partita IVA e numero di iscrizione al Registro Imprese di Bergamo: 00385040167 –
                    R.E.A. 107496</p>

                <p>Capitale sociale 60.000.000,00 EUR interamente versato.</p>


            </div>
        </div>
    </div>
</footer>